In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl
import seaborn as sb
import warnings 
pd.set_option("display.max_columns",None)

In [12]:
warnings.filterwarnings("ignore")

In [13]:
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\movies.csv")

In [14]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [15]:
df.tail()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
4798,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4799,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4800,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4801,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4802,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [16]:
df.shape

(4803, 24)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [18]:
df = df[["genres","keywords","overview","tagline","title","cast","director"]]

In [19]:
df.head()

,genres,keywords,overview,tagline,title,cast,director
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,Action Adventure Crime,spy based on novel secret agent sequel mi6,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,Spectre,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,The Legend Ends,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton

In [20]:
df.isnull().sum()

genres       28
keywords    412
overview      3
tagline     844
title         0
cast         43
director     30
dtype: int64

In [21]:
df = df.dropna()

In [22]:
df.isnull().sum()

genres      0
keywords    0
overview    0
tagline     0
title       0
cast        0
director    0
dtype: int64

In [23]:
df.shape

(3757, 7)

In [24]:
df["summary"] = df["genres"]+" "+df["keywords"]+" "+df["overview"]+" "+df["tagline"]+" "+df["cast"]+" "+df["director"]

In [25]:
df["summary"][0]

'Action Adventure Fantasy Science Fiction culture clash future space war space colony society In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Enter the World of Pandora. Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez James Cameron'

In [26]:
df = df.drop(["genres","keywords","overview","tagline","cast","director"],axis = 1)

In [27]:
df.head()

,title,summary
0,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exot...
2,Spectre,Action Adventure Crime spy based on novel secr...
3,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fi...
4,John Carter,Action Adventure Science Fiction based on nove...

In [28]:
df["summary"] = df["summary"].str.lower()

In [29]:
df["summary"][0]

'action adventure fantasy science fiction culture clash future space war space colony society in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. enter the world of pandora. sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez james cameron'

In [30]:
import string
punc = string.punctuation
print(punc)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [31]:
def rem_punc(text):
    txt = [i for i in text if i not in punc]
    return ''.join(txt)

In [32]:
df["summary"] = df["summary"].apply(rem_punc)

In [33]:
df["summary"][0]

'action adventure fantasy science fiction culture clash future space war space colony society in the 22nd century a paraplegic marine is dispatched to the moon pandora on a unique mission but becomes torn between following orders and protecting an alien civilization enter the world of pandora sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez james cameron'

In [34]:
import nltk
from nltk.corpus import stopwords

In [35]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [36]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [37]:
stp_words = stopwords.words("english")

In [38]:
stp_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [39]:
def rem_stopwords(text):
    txt = [i for i in text.split() if i not in stp_words]
    return " ".join(txt)

In [40]:
df["summary"] = df["summary"].apply(rem_stopwords)

In [41]:
df["summary"][0]

'action adventure fantasy science fiction culture clash future space war space colony society 22nd century paraplegic marine dispatched moon pandora unique mission becomes torn following orders protecting alien civilization enter world pandora sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez james cameron'

In [42]:
from nltk.tokenize import word_tokenize

In [43]:
def wrd_token(text):
    txt = word_tokenize(text)
    return txt

In [44]:
word_tokenize("hey bro")

['hey', 'bro']

In [45]:
wrd_token(df["summary"][0])

['action',
 'adventure',
 'fantasy',
 'science',
 'fiction',
 'culture',
 'clash',
 'future',
 'space',
 'war',
 'space',
 'colony',
 'society',
 '22nd',
 'century',
 'paraplegic',
 'marine',
 'dispatched',
 'moon',
 'pandora',
 'unique',
 'mission',
 'becomes',
 'torn',
 'following',
 'orders',
 'protecting',
 'alien',
 'civilization',
 'enter',
 'world',
 'pandora',
 'sam',
 'worthington',
 'zoe',
 'saldana',
 'sigourney',
 'weaver',
 'stephen',
 'lang',
 'michelle',
 'rodriguez',
 'james',
 'cameron']

In [46]:
df["summary"] = df["summary"].apply(wrd_token)

In [47]:
df["summary"][0]

['action',
 'adventure',
 'fantasy',
 'science',
 'fiction',
 'culture',
 'clash',
 'future',
 'space',
 'war',
 'space',
 'colony',
 'society',
 '22nd',
 'century',
 'paraplegic',
 'marine',
 'dispatched',
 'moon',
 'pandora',
 'unique',
 'mission',
 'becomes',
 'torn',
 'following',
 'orders',
 'protecting',
 'alien',
 'civilization',
 'enter',
 'world',
 'pandora',
 'sam',
 'worthington',
 'zoe',
 'saldana',
 'sigourney',
 'weaver',
 'stephen',
 'lang',
 'michelle',
 'rodriguez',
 'james',
 'cameron']

In [48]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [49]:
def stemmin(text):
    txt = [ps.stem(i) for i in text]
    return " ".join(txt)

In [50]:
df["summary"][0]

['action',
 'adventure',
 'fantasy',
 'science',
 'fiction',
 'culture',
 'clash',
 'future',
 'space',
 'war',
 'space',
 'colony',
 'society',
 '22nd',
 'century',
 'paraplegic',
 'marine',
 'dispatched',
 'moon',
 'pandora',
 'unique',
 'mission',
 'becomes',
 'torn',
 'following',
 'orders',
 'protecting',
 'alien',
 'civilization',
 'enter',
 'world',
 'pandora',
 'sam',
 'worthington',
 'zoe',
 'saldana',
 'sigourney',
 'weaver',
 'stephen',
 'lang',
 'michelle',
 'rodriguez',
 'james',
 'cameron']

In [51]:
df["summary"] = df["summary"].apply(stemmin)

In [52]:
df["summary"][0]

'action adventur fantasi scienc fiction cultur clash futur space war space coloni societi 22nd centuri parapleg marin dispatch moon pandora uniqu mission becom torn follow order protect alien civil enter world pandora sam worthington zoe saldana sigourney weaver stephen lang michel rodriguez jame cameron'

In [53]:
df.head()

,title,summary
0,Avatar,action adventur fantasi scienc fiction cultur ...
1,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drug abus exot i...
2,Spectre,action adventur crime spi base novel secret ag...
3,The Dark Knight Rises,action crime drama thriller dc comic crime fig...
4,John Carter,action adventur scienc fiction base novel mar ...

In [54]:
df["title"] =df["title"].str.lower()

In [55]:
df.head()

,title,summary
0,avatar,action adventur fantasi scienc fiction cultur ...
1,pirates of the caribbean: at world's end,adventur fantasi action ocean drug abus exot i...
2,spectre,action adventur crime spi base novel secret ag...
3,the dark knight rises,action crime drama thriller dc comic crime fig...
4,john carter,action adventur scienc fiction base novel mar ...

In [56]:
Summary = []
for i in df["summary"]:
  Summary.append(i)

In [57]:
Summary[0]

'action adventur fantasi scienc fiction cultur clash futur space war space coloni societi 22nd centuri parapleg marin dispatch moon pandora uniqu mission becom torn follow order protect alien civil enter world pandora sam worthington zoe saldana sigourney weaver stephen lang michel rodriguez jame cameron'

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [59]:
tfidf = TfidfVectorizer(max_features=5000)

In [60]:
features = tfidf.fit_transform(Summary).toarray()

In [61]:
features.shape

(3757, 5000)

In [62]:
print(tfidf.get_feature_names_out())

['007' '10' '100' ... 'zou00eb' 'zucker' 'zwick']

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
cosine_similarity(features)[0]

array([1.        , 0.03028745, 0.02562209, ..., 0.02176419, 0.03990303,
       0.02201431])

In [65]:
cosine_dist = cosine_similarity(features)

In [66]:
cosine_dist.shape

(3757, 3757)

In [67]:
df[df["title"] == "avatar"].index[0]

0

In [68]:
def recommend(movie):
    try:
        Movie = movie.strip()
        Movie = Movie.lower()
        indd = df[df["title"]== Movie].index[0]
        dis = cosine_dist[indd]
        movies = sorted(list(enumerate(dis)),reverse=True,
                        key= lambda x: x[1])[1:6]
        movie_list = [df["title"].iloc[j] for j in [i[0] for i in movies]]
        return movie_list
    except:
        print("Please Try another movie")

In [69]:
recommend("avatar")

['aliens', 'lifeforce', 'guardians of the galaxy', 'alien', 'moonraker']

In [70]:
recommend("conju")

Please Try another movie

In [71]:
df.to_csv("C:\\Users\\Lenovo\\Downloads\\csv.csv")

In [77]:
df.head(50)

,title,summary
0,avatar,action adventur fantasi scienc fiction cultur ...
1,pirates of the caribbean: at world's end,adventur fantasi action ocean drug abus exot i...
2,spectre,action adventur crime spi base novel secret ag...
3,the dark knight rises,action crime drama thriller dc comic crime fig...
4,john carter,action adventur scienc fiction base novel mar ...
5,spider-man 3,fantasi action adventur dual ident amnesia san...
6,tangled,anim famili hostag magic hors fairi tale music...
7,avengers: age of ultron,action adventur scienc fiction marvel comic se...
8,harry potter and the half-blood prince,adventur fantasi famili witch magic broom scho...
9,batman v superman: dawn of justice,action adventur fantasi dc comic vigilant supe...
11,quantum of solace,adventur action thriller crime kill undercov s...
12,pirates of the caribbean: dead man's chest,adventur fantasi action witch fortun teller bo...
13,the lone ranger,action adventur western texa hors survivor tex...
14,man of steel,action adventur fantasi scienc fiction save wo...
15,the chronicles of narnia: prince caspian,adventur famili fantasi base novel fiction pla...
16,the avengers,scienc fiction action adventur new york shield...
17,pirates of the caribbean: on stranger tides,adventur action fantasi sea captain mutini swo...
18,men in black 3,action comedi scienc fiction time travel time ...
19,the hobbit: the battle of the five armies,action adventur fantasi corrupt elv dwarv orc ...
20,the amazing spider-man,action adventur fantasi loss father vigilant s...
21,robin hood,action adventur robin hood archer knight sherw...
22,the hobbit: the desolation of smaug,adventur fantasi elv dwarv orc hobbit dragon d...
23,the golden compass,adventur fantasi england compass experi lordsh...
24,king kong,adventur drama action film busi screenplay sho...
25,titanic,drama romanc thriller shipwreck iceberg ship p...
26,captain america: civil war,adventur action scienc fiction civil war war m...
27,battleship,thriller action adventur scienc fiction fight ...
28,jurassic world,action adventur scienc fiction thriller monste...
29,skyfall,action adventur thriller spi secret agent soci...
30,spider-man 2,action adventur fantasi dual ident love one li...
31,iron man 3,action adventur scienc fiction terrorist war t...
32,alice in wonderland,famili fantasi adventur base novel fiction pla...
33,x-men: the last stand,adventur action scienc fiction thriller mutant...
34,monsters university,anim famili monster dormitori game anim best f...
35,transformers: revenge of the fallen,scienc fiction action adventur egypt sun chao ...
36,transformers: age of extinction,scienc fiction action adventur sequel alien tr...
37,oz: the great and powerful,fantasi adventur famili circu witch magic hope...
38,the amazing spider-man 2,action adventur fantasi obsess marvel comic se...
39,tron: legacy,adventur action scienc fiction artifici intell...
40,cars 2,anim famili adventur comedi car race sequel co...
41,green lantern,adventur action thriller scienc fiction dc com...
42,toy story 3,anim famili comedi hostag colleg toy barbi ani...
43,terminator salvation,action scienc fiction thriller save world arti...
44,furious 7,action car race speed reveng suspens car decka...
45,world war z,action drama horror scienc fiction thriller dy...
46,x-men: days of future past,action adventur fantasi scienc fiction 1970 mu...
47,star trek into darkness,action adventur scienc fiction spacecraft frie...
48,jack the giant slayer,action famili fantasi base fairi tale giant st...
49,the great gatsby,drama romanc base novel infidel obsess hope 3d...
50,prince of persia: the sands of time,adventur fantasi action romanc persia sandstor...

In [73]:
import pickle

In [74]:
df_dict = df.to_dict()

In [75]:
pickle.dump(df_dict,open("data.pkl","wb"))

In [76]:
pickle.dump(cosine_dist,open("cosine_dist.pkl","wb"))